{% extends 'layout.html' %}

{% load static %}
{% block content %}
<div id="wrapper">
    <div id="header-wrapper">
        <div id="header" class="container">
            <div id="logo">
                <h1><a href="/">臉部辨識系統</a></h1>
            </div>
            <div id="menu"><font size="4">
                <ul>
                    <li><a href="/" accesskey="2" title="">首頁</a></li>
                </ul>
                <ul>
                    <li><a href="/about_object" accesskey="2" title="">專案介紹</a></li>
                </ul>
                <ul>
                    <li><a href="/about_us" accesskey="2" title="">關於我們</a></li>
                </ul>
                <ul>
                    <li><a href="/admin" accesskey="2" title="">後台管理</a></li>
                </ul>
            </font></div>        
        </div>
    </div>
    
    <div id="banner">
        <div class="container">
            <div class="title">
                <h2>face recognition</h2>
                <span class="byline">i'm watching you</span>
            </div>
        </div>
    </div>
    <div class="about-title">
        <h2 style="text-align: center;">專題成員</h2>
        <p style="text-align: center;">OUR TEAM</p>
        <div class="hr_zigzag" style="margin: 0 auto 40px;">
            <img src="images/icon_separated.png" alt="">
        </div>
    </div>
    <div id="extra" class="container" style="margin-bottom: 60px;">
        <div id="introduction">
            <div class="photo-area">
                <div>
                    <div class="photo-link">
                        <img class="photo" src="https://i.imgur.com/5OOt6Sh.jpg" alt="home_betheme_ourteam_5" width="200">
                    </div>
                </div>
            </div>
            <div class="intro-area">
                <div class="name">
                    <h4>程彥凱</h4>
                    <p class="position">組長</p>
                    <hr>
                    <div class="self-intro">
                        <p>
                            總結成功的經驗能夠讓人越來越聰明<br>
                            總結失敗的原因能夠讓人越來越謹慎<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="hr" class="hr">
            <div class="hr-dots">
                <span></span><span></span><span></span>
            </div>
        </div>
        <div id="introduction">
            <div class="photo-area">
                <div>
                    <div class="photo-link">
                        <img class="photo" src="https://i.imgur.com/sU93UVG.png" alt="home_betheme_ourteam_5" width="200">
                    </div>
                </div>
            </div>
            <div class="intro-area">
                <div class="name">
                    <h4>施弈擁</h4>
                    <p class="position">組員</p>
                    <hr>
                    <div class="self-intro">
                        <p>
                            如果你失敗了，那就失敗了<br>
                            但如果你成功了，要感到榮幸，保持謙遜<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="hr" class="hr">
            <div class="hr-dots">
                <span></span><span></span><span></span>
            </div>
        </div>
        <div id="introduction">
            <div class="photo-area">
                <div>
                    <div class="photo-link">
                        <img class="photo" src="https://i.imgur.com/9Sd4GhT.png" alt="home_betheme_ourteam_5" width="200">
                    </div>
                </div>
            </div>
            <div class="intro-area">
                <div class="name">
                    <h4>洪聖傑</h4>
                    <p class="position">組員</p>
                    <hr>
                    <div class="self-intro">
                        <p>
                            我們都有絕望的時候<br>
                            但我們熬過去之後，我們就會發現自己有多強大<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="hr" class="hr">
            <div class="hr-dots">
                <span></span><span></span><span></span>
            </div>
        </div>
        <div id="introduction">
            <div class="photo-area">
                <div>
                    <div class="photo-link">
                        <img class="photo" src="https://i.imgur.com/hhLpVO6.png" alt="home_betheme_ourteam_5" width="200">
                    </div>
                </div>
            </div>
            <div class="intro-area">
                <div class="name">
                    <h4>劉峻良</h4>
                    <p class="position">組員</p>
                    <hr>
                    <div class="self-intro">
                        <p>
                            積極的人在每一次憂患中都看到一個機會<br>
                            而消極的人則在每個機會都看到某種憂患<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="hr" class="hr">
            <div class="hr-dots">
                <span></span><span></span><span></span>
            </div>
        </div>
        <div id="introduction">
            <div class="photo-area">
                <div>
                    <div class="photo-link">
                        <img class="photo" src="https://i.imgur.com/X6fNr60.png" alt="home_betheme_ourteam_5" width="200">
                    </div>
                </div>
            </div>
            <div class="intro-area">
                <div class="name">
                    <h4>張晉聞</h4>
                    <p class="position">組員</p>
                    <hr>
                    <div class="self-intro">
                        <p>
                            生活比你想像的要容易得多<br>
                            只要學會接受那些不可接受的<br>
                            放棄那些不願放棄的<br>
                            容忍那些不可容忍的
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer-wrapper">
    <div id="footer" class="container">                      
    </div>
</div> 

{% endblock %}

