{% extends 'layout.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<div class="container">
  <div style="padding-bottom: 2em;text-align:center">
    <h1 class="text-center" style="color:#047c2a">最相似人臉配對</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1" style="padding-top:3em;padding-bottom:3em;-webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 0.5);
box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 0.5);">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <img src="{{record.Picture}}" class="img-responsive" style="border-radius:50%"/>
            </div>
            <div class="col-md-12" style="text-align:center">
              <h3 style="color:#d18f02"><b>{{record.first_name}} {{record.last_name}}</b></h3>
              <h5><b>住址: </b> {{record.address}} </h5>
              <h5><b>年級: </b> {{record.grade}} </h5>
              <h5><b>系所: </b> {{record.Department}}</h5>
              <h5><b>儲存資料時間: </b> {{record.recorded_at}}</h5>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <h3>個人介紹</h3>
          <p>
            {{record.Introduction}}
          </p>
        </div>
        <div class="col-md-12" style="margin-top:2em">
          <a href="/" class="btn btn-warning"><i class="fa fa-chevron-left" aria-hidden="true"></i>返回主頁</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}